!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.noty.css')
    link(rel='stylesheet', href='/stylesheets/noty_theme_twitter.css')
    script(src='/javascripts/resources/jquery-1.7.1.min.js')
    script(src='/javascripts/resources/jquery.noty.js')
    script(src='/javascripts/resources/promise.js')
  body!= body

  script(src='/socket.io/socket.io.js')
  != js('application')